# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Most popular languages for Data Science
* Most commonly used libraries by Data Scientists
* How to multiply and add numbers

Some of the popular languages that Data Science use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Matplotlib

|Data Science Tools|
|---|
|Jupyter Notebook|
|VSCode|
|PyCharm|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4) + 5
#This a simple arithmetic expression to multiply then add integers

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author
Andr√© Ramiro Pereira